<h1>Register Form</h1>

<form action=""  method="post" enctype="multipart/form-data">

       <input type="text" name="name" placeholder="Enter Your name" required> 
      <br><br>
      <input type="email" name="email" id="email" placeholder="enter email" required>
      <br><br>
      <input type="file" name="image" required>
      <br> <br>
      <input type="password" name="password" placeholder="Enter Your Password" required>
      <br><br>
      <input type="submit" value="Register">
</form>


<%
     if(typeof message !== 'undefined'){
        %>
         <p style="color:peru;"><%= message %></p>
        <%
     }

 %>